body{
    text-align: center;
    background-image: url("asthetic.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}


.header{
    font-family: 'Monoton', cursive;
    font-weight: bolder;
    font-size: 50px;
}
#send_div{
    background-image: url("note.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  bottom:0%;
  width: 100%;

}
#msg{
    width:800px;
    text-align:center;
    border-color:purple;
    border-width: 2px;
    margin-left: 300px;
    
}
#send{
    width: 300px;
    background-color: purple;
    color:white;
    font-family: 'Anton', sans-serif;
}
#logout{
    width:150px;
    margin-top: 10px;
    font-family: 'Potta One', cursive;
    font-size: 20px;
    

}